<!-- <div class="container">

  <div class="login-form col-md-4 offset-md-4">

    <form [formGroup]="form">
      <div class="form-group title">
        <br>
        <img src="../../../../assets/img/muni-logo.jpg" alt="..." class="img-thumbnail img"  width="250" height="250">
      </div>

      <h4 class="title"><strong>SISTEMA INTEGRADO DE TRANSITO Y TRANSPORTE URBANO - MANANTAY</strong></h4>
      <br>

      <div class="container">
        <div class="form-group">
            <label>Usuario</label>
            <input type="text" name="usuario" class="form-control" formControlName="usuario">
          </div>
          <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="contraseña" class="form-control" formControlName="contraseña">
          </div>
    
          <br>

          <button class="btn btn-primary btn-block" type="submit">Ingresar</button><br>
          <P class="create-user"><a href="registroUsuario">Crear usuario</a> </P>
      </div>
      

    </form>

  </div>

</div> -->
  <div class="wrapper">
      <div class="container main">
          <div class="row">
              <div class="col-md-6 side-image">
                  <!-- -----Image------
                  <img src="images/white.png" alt="">
                  <div class="text">
                      <p>Join the community of developers <i>- ludiflex</i></p>
                  </div> -->
              </div>
              <div class="col-md-6 right">
                <form [formGroup]="form">
                   <div class="input-box">
                      <header>SISTEMA INTEGRADO DE TRANSITO Y TRANSPORTE URBANO - MANANTAY</header>
                      <div class="input-field">
                          <input type="text" class="input" required autocomplete="off">
                          <label>Usuario</label>
                      </div>
                      <div class="input-field">
                          <input type="password" class="input" required>
                          <label>Password</label>
                      </div>
                      <div class="input-field">
                          <input type="submit" class="submit" value="Ingresar">
                      </div>
                      <div class="signin">
                          <span>No se encuentra registrado? <a href="#">Crear usuario</a></span>
                      </div>
                   </div>
                </form>
              </div>
          </div>
      </div>
  </div>